.orders-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page-title {
  text-align: center;
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.page-title h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* Boxes row */
.order-header-extras {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.extra-box {
  background: #fff;
  border-radius: 12px;
  padding: 10px 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: center;
  min-width: 100px;
  transition: transform 0.2s ease;
}

.extra-box:hover {
  transform: translateY(-4px);
}

.extra-box p {
  font-size: 13px;
  color: #777;
}

.extra-box h3 {
  font-size: 18px;
  color: #d34a42;
  margin-top: 4px;
}

/* Moving Truck */
.truck-container{
    width:100% ;
    display: flex;
    margin: 0 auto;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
}
.delivery-truck {
  width: 120px;
  margin: 0 auto 0; 
  animation: truckMove 8s ease-in-out infinite; 
}
.opening-gate,.closing-gate{
  width: 20px;
  height: 100px;
  background-color: gray;
}

.delivery-truck img {
  width: 100%;
}

/* Keyframes for truck animation */
@keyframes truckMove {
  0% { transform: translateX(-400%); }
  50% { transform: translateX(0); }
  70%{transform: translateX(1%);}
  100% { transform: translateX(400%); }
}

