.cart {
    padding: 0px 140px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 16px);
    background-color: #fef6f5;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    

    .food-item-counter{
        img{
            width: 25px;
            height: 25px;
        }
    }
}
.cart-items-title .title-name{
    font-size: 18px;
}
.cart-items-item {
    margin: 10px 0;
    color: #000;
    

}

.cart-items-item img {
    width: 70px;
    border-radius: 10px;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cart-items-item .cross{
    cursor: pointer;

}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
    flex-wrap: wrap;
    .bill-count{
        font-size: 16px;
        font-weight: 600;
    }
    .cart-total .cart-order-btns{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        button{
            font-weight: 600;
        }

        button:nth-child(2){
            background-color: rgb(68, 68, 68);
        }
    }

}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: min-content;
    width: 100%;
    padding: 15px;
    border: 1px solid #f9d9d3;
    background-color: #fffaf9;
    border-radius: 10px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0;

}
.cart-total button{
    border: none;
    background-color: tomato;
    color: #fff;
    width: max(15vw, 200px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.cart-promocode{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;

    .delivery-charge-discount{
        flex: 1 1 max-content;
        padding: 15px;
        border: 1px solid #f9d9d3;
        width: max-content;
        background-color: #fffaf9;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .4s ease-in-out;
        cursor: default;
    &:hover{
        background-color: #fceeeb;
        border: 1px solid #fccdc4;
    }
        h4{
            font-size: 1.03rem;
            color: tomato;
        }
        h2{
            font-weight: 600;
            margin: 0 10px;
            width: max-content;
        }
        .hr{
            width: 80%;
            border-radius: 2px;
            height: 2px;margin-bottom: 3px;
            background-color: rgba(175, 175, 175, 0.292);
        }
    }

}
.cart-promocode p{
color: #555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;

}
.cart-promocode-input button{
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: #000;
    border: none;
    color: white;
    border-radius: 4px;
}
.place-order-right{

    .cart-items-quick{
        width: 100%;
          display: flex;
          gap: 10px;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        .quick-item-check{
            display: flex;
            flex-direction: row;
            height: 90px;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 15px;
            border: 2px solid #e2e2e2;

            overflow: hidden;
            img{
                width: 90px;
                height: 90px;
                object-fit: cover;
            }
            .quick-price{
                position: absolute;
                bottom: 0;
                background-color: #555555d4;
                display: flex;
                width: 100%;
                padding:2px 5px;
                color: #fff;
                font-size: 14px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
}

@media (max-width:1000px) {
    .cart {
        padding: 0 5%;
        margin-top: 0;
}   
}
@media (max-width:800px){
    .cart-item-naming{
        display: none;
    }
    .cart-items-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 13px;
        p{
            margin: 5px 0;
        }
       .sr-1{
        width: 100%;
        text-align: center;
        margin: 0;
       }
    }
    

}
