.rotator-slide-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.slide-contents{
    gap: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .rs-slide{
        width: max-content;
        display: flex;
        flex: 1;
        min-width: 250px;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        transition: .4s ease-in-out;
        .top-image{
            height: 150px;
            transition: .4s ease-in-out;
            animation: upANDdown 3s infinite ease-in-out;
             img{
                height: 100%;
             }
             .extra-vegs{
                height: 30px;
                width: 30px;
             }
        }

        .bottom-contents{
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: center;
            z-index: -1;
            align-items: center;
            flex-direction: column;
            padding: 30px;
            transform: translateY(-70px);
            padding-top: 60px;
            border-radius: 10px;
            background-color: rgba(11, 197, 11, 0.100);
            transition: all .4s ease-in-out;
         
h1{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    opacity: .7;
    text-align: center;
    margin: 5px 0;

}
p{
    font-size: 16px;
    color: #838383b9;
    width: 100%;
    text-align: center;
}
        }
        
    }
    .rs-slide:hover {
        
        .bottom-contents{
            transform: translateY(-50px);
         background-color: rgba(11, 197, 11, 0.300);
            }
             .top-image{
            scale: 1.3;
         }
}
    .rs-slide:nth-child(2){
        .bottom-contents{
             background-color: rgba(241, 231, 25, 0.2);
        }
    }
    .rs-slide:nth-child(3){
        .bottom-contents{
             background-color:rgba(230, 180, 170, 0.2);
        }
    }
     .rs-slide:nth-child(4){
        .bottom-contents{
             background-color:rgba(0, 150, 255, 0.2);
        }
    }
}

@keyframes upANDdown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }

}