.navbar {
display: flex;
padding: 10px;
align-items: center;
justify-content: space-between;
margin: 0 auto;
padding-left: 15%;
padding-right: 15%;
width: 100vw;
border-bottom: 2px solid rgb(232, 232, 232);
}

.content-remain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 7%;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #49557e;

    li {
        cursor: pointer;
    }
}

.logo {
    width: 250px;
    object-fit: cover;
    margin: 0;
}

.logo-img {
    width: 70px;
}

@media (max-width:450px) {
    .logo-img {
        width: 50px;
    }

    .logo {
        display: none;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.cart-button {
    margin: 4px;
    padding: 0px;
    color: #ff6347;
    position: relative;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    width: max-content;
    display: flex;
    align-items: end;
    gap: 4px;
    .cart-button-left{
        display: flex;
        gap: 4px;
        justify-content: center;align-items: center;
        font-size: 16px;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #ffefec;

    }

    .grid-cart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 50px;
        gap: 1px;
        flex-wrap: wrap;
        .quick-item-cart-button{
            img{
                margin: 0;
                width: 20px;
                height: 20px;
                border-radius: 5px;
                object-fit: cover;
                border: none;
                outline: none;
                background-color: #dbdce0;
            }
        }
        
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .track-orders {
    cursor: pointer;
    width: max-content;
    height: 60px;
    overflow: hidden;
    transition: 0.4s all ease-in-out;
    gap: 0;

    .track-order-image {
        margin: 0 auto;
        width: 70px;
        object-fit: contain;
        transform: rotateY(180deg);
    }

    p {
        color: grey;
        font-weight: 500;
        padding: 5px 10px;
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
    }

    &:hover {
        height: 120px;
    }
}

.navbar .profile-button {
    text-decoration: none;
    background-color: #ffefec;
    font-size: 16px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    color: tomato;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    transition: all 0.4s ease-in-out;
    height: 50px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 4px solid tomato;
}

.navbar-search-icon {
    position: relative;
}

.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    right: -8px;
    top: -8px;
}

@media (max-width:360px) {

    .navbar {
        padding: 5px 10px;
        padding-top: 10px;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 200px;
        }

    }
}

.notification-icon2 {
    display: none;
}

@media (max-width:1100px) {
    .navbar .profile-button {
        display: none;
    }

    .navbar {
        padding: 0 80px;
    }

    .navbar-right {
        display: none;
    }

    .notification-icon2 {
        display: block;
    }

    .navbar-menu {
        display: none;
    }

    .btn-container {
        display: none;
    }

}

@media (max-width:860px) {
    .navbar {
        padding: 5px 30px;
        width: 100%;

    }
    .logo {
        display: none;
    }

}