.basket{
    width: 100vw;
    margin-top: 50px;
    padding: 0 -130px;
}
.main-address-contents{
    background-color: #FAEDE2;
    transform: translateY(-10px);
    padding: 0  140px;
    height: auto;
    position: relative;

    .text-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        padding: 0 100px;
        
        h1{
            font-size: 2.3rem ;
            max-width:90%;
            position: relative;
            z-index: 2;
            width: max-content;
            margin: 0;
            max-width: 100%;
        }
        h1::before{
            content: '';
            display: table;
            position: absolute;
            z-index: -1;
            bottom: 7px;
            left: 0;
            height: 30%;
            width: 90%;
            background-color: rgba(255, 99, 71, 0.7);
            border-radius: 3px;

        }
        p{
            font-size: 18px;
            color: #434343;
        }
    }
.mart-address-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transform: translateY(-50px);

    .box1, .box2, .box3{
      width: 300px;
      height: 300px;
      background-color: #f98470;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      position: relative;
      transform: rotate(180deg);
      margin: 70px 10px; 
      display: flex;
      justify-content: center;
      align-items: center;
      scale: 1;
      transition: .3s all ease;
    
      
      img{
        width: 70%;
        height: 70%;
        margin: 10px;
        border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
        transform: rotate(180deg);
        object-fit: cover;
      }
      .text-content{
        position: absolute;
        height: 70%;
        width: 70%;
        border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
        background-color: #804b427d;
        transform: rotate(180deg);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: .4s all ease;
        color: #fff;
        &:hover{
            opacity: 1;
        }

        
        .row{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100%;
        }
        h1{
            margin: 0;
            font-size: 26px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        a{
            text-decoration: none;
            img{
                border-radius: 50%;
                background-color: #fff;
                height: 40px;
                width: 40px;
                cursor: pointer;
                object-fit: contain;
                padding: 0;
            }
        }
        img{
            border-radius: 50%;
            height: 40px;
            width: 40px;
            object-fit: cover;
            background-color: #fff;
            cursor: pointer;
            border-radius: 50%;
        }
      }
    }

    .box1::after, .box2::after, .box3::after {
      content: '';
      position: absolute;
      left: 50%;
      top: -20%;
      width: 100px;
      height: 100px;
      background: #f98470;
       border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      transform: translate(-50%, -50%) rotate(0deg);
    }
    .box3{
        transform: scale(.6) rotate(180deg) translateX(100px) translateY(-150px);
    }
    .box1{
         transform: scale(.7) rotate(180deg) translateX(-80px) translateY(-50px);
    }
    .box1:hover{
         transform: scale(.9) rotate(180deg) translateX(-50px) translateY(0px);
    }
     .box3:hover{
        transform: scale(.9) rotate(180deg) translateX(70px) translateY(-50px);
    }
    .box2:hover{
         transform: scale(1.1) rotate(180deg) ;
    }
    .box2.transform {
  transform: scale(0.7) rotate(180deg) translateX(-10px) translateY(-50px);
}

     
}
.lower-svg{
    width: 100vw;
    position: absolute;
    left: 0px;
    bottom: -40px;
    z-index: -1;
    padding: 0;
    margin: 0;
}
}
@media (max-width:760px) {
    .main-address-contents{
        padding: 0;
        padding-top: 20px;
        .text-title{
            padding: 0 10px;
            h1{
                font-size: 26px;
                font-weight: 600;
            }
            P{
                font-size: 14px;
            }
        }

        .mart-address-box{
        flex-direction: column;
        margin: 0;

        .box1 ,.box2 ,.box3{
            position: static;
            transform: 0;
            margin: 0;
            &::after{
                display: none;
            }
        }
        .box3{
        transform: scale(.6) rotate(180deg) translateX(100px) translateY(70px);
         }
        }
    }

    
}

@media (max-width:960px) {
    .main-address-contents{
        padding: 0;
        padding-top: 20px;
        .text-title{
            padding: 0 10px;
            width: 100%;
            align-items: center;
            h1{
                font-size: 26px;
                font-weight: 600;
            }
            P{
                font-size: 14px;
            }
        }

        .mart-  address-box{
        flex-direction: column;
        margin: 0;

        .box ,.box2 ,.box3{
            position: static;
            transform: 0;
            margin: 0;
            &::after{
                display: none;
            }
        }
        .box3{
        transform: scale(.6) rotate(180deg) translateX(100px) translateY(70px);
         }
        }
    }

    
}
