.setting-container{
    width: 100%;
}

/* ---------------profile options buttons------------ */
.profile-options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    .profile-option-lines{
        border-radius: 10px;
        background-color: rgb(235, 235, 235);
        /* border: 1px solid rgb(176, 176, 176); */
        padding: 25px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 30px 0;
        transition:  all .3s ease;
        color: tomato;

        div{
            display: flex;
            align-items: center;
            gap: 20px;
            width: max-content;
        }
        h3{
            font-size: clamp(16px, 2vw, 20px);
            font-weight: 600;
            color: rgb(62, 62, 62);
        }
        .value{
            font-weight: 600;
            cursor: pointer;
        }
        &:hover{
        background-color: rgb(228, 228, 228);
        }
    }
    .profile-option-lines:nth-child(8){
         background-color: rgb(250, 243, 243);
        border: 2px solid rgb(198, 80, 80);
        
    }
    .profile-option-lines:nth-last-child(1){
        background-color: rgb(255, 238, 238);
        border: 2px solid rgb(203, 45, 45);

    }

}