

*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fdfafa;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 100%;
  margin: auto;
  overflow:hidden;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-row{
    display: flex;
    gap: 20px;
}
.head-img{
  width: 100vw;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
}