.address-info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  /* flex: 1 1 350px; */
  animation: fadeInLeft 0.8s ease-out;
}

.address-title-box {
  animation: fadeInDown 0.6s ease-out;
}

.address-title-box h2 {
  font-weight: 700;
  font-size: clamp(16px, 4vw, 24px);
  margin-bottom: 4px;
  color: #2c2c2c;
}


.title-slogen {
  color: #888;
  font-size: 0.95rem;
  margin: 0;
}

.address-info>div {
  width: 100%;
}

.address-lebel {
  margin-left: 14px;
  font-weight: 600;
  width: max-content;
  padding: 6px 14px;
  background-color: #fff;
  font-size: 1.15rem;
  color: #2c2c2c;
  transform: translateY(18px);
  border-radius: 10px;
  transition: color 0.3s ease;
  z-index: 3;
}

.address-lebel.active {
  color: #d34a42;
  z-index: 2;
}

.address-info .address-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.address-box {
  border: 2px solid transparent;
  width: 100%;
  min-width: 300px;
  flex: 1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  animation: fadeInLeft 0.6s ease;
  background-color: #f0eeee;


  p {
    font-size: clamp(12px, 4vw, 16px);
  }
}

.address-lebel {
  font-size: clamp(12px, 4vw, 16px);

}

.address-box:hover {
  background-color: #e0e0e0;
  border: 2px solid rgb(190, 190, 190);
  /* border-color: #d34a42; */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}

.active-address {
  border-color: #d34a42;
  background-color: #fff3f3;
  font-weight: 600;
}

.edit-link {
  font-size: 0.9rem;
  color: #333;
  margin-top: 8px;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.edit-link:hover {
  color: #d34a42;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .address-info {
    align-items: stretch;
    padding: 0 10px;

  }

  .address-box {
    width: 100%;
  }

  .address-box {
    padding: 16px 8px;
  }
}


/* Animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}