.float-box-container {
    display: flex;
    height: 98vh;
    padding: 5px;
    overflow: hidden;
    margin: 10px;
    position: fixed;
    top: 0%;
    left: 20px;
    gap:0;
    align-items: start;
    z-index: 2;
    pointer-events: fill;

}

.floating-btn-section {
    width: 70px;
    background-color: tomato;
    border-radius: 50px;
    transition: .3s all ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 5px;
    .float-box{
       h4{
           font-size: 0px;
    }
    }
}

.float-box-container .floating-btn-section:hover {
    width: 230px;
    border-radius: 30px;
}

.floating-btn-section:hover .float-box-title {
    width: 150px;
    font-size: 16px;
    background-color: #ffffff34;
}

.float-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 10px;
    width: max-content;
    gap: 10px;

    h4 {
        font-weight: 500;
        text-align: start;
        color: #fff;
        background-color: transparent;
        padding: 7px 10px;
        border-radius: 40px;
        transition: .4s all ease-in-out;

    }

    .icon {
        width: 40px;
        height: 40px;
        font-size: 22px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #5d4642;
    }

}

.link {
    display: flex;
}



.float-box-title {
    width: 0;
    overflow: hidden;
    font-size: 0;
}

.right {
    position: fixed;
    left: 10px;
    top: 40%;
    z-index: 3;
}

@media (max-width:760px) {
    .float-box-container {
        left: -5%;
    }

}

@media (max-width:960px) {
    .float-box-container {
        left: -0%;
    }

}
@media (max-width:1100px) {
    
    .float-box-container {
    height: 90vh;}
    
}




/* ------quick cart items------ */
.cart-items-quick.float {
    margin: 5px 0;
    padding: 10px 0;
    background-color: rgb(226, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 70px;

    .fa-cart-btn{
        margin: 5px;
    }

    p {
        font-size: 16px;
        padding: 2px 5px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(135, 135, 135);
    }
}

.quick-view-basket2 {
    flex-direction: column;
    gap: 5px;
    .quick-item-check {
        height: 50px;
        margin: 0;
        border-radius: 50px;
        margin: 0;
        img {
            width: 50px;
        }
        .quick-price.float {
            font-size: 10px;
        }
    }
}


@media (max-width:460px) {
    .float-box-container {
        left: -10px;
    }
    .floating-btn-section {
        width: 40px;
        gap: 0;
        padding: 0;
    }
    .float-box {
        margin: 0;
        padding: 5px 7px;
        h4 {
            font-size: 16px;
        }
        .icon {
            width: 25px;
            height: 25px;
            font-size: 14px;
        }
    }
    .cart-items-quick.float{
        width: min-content;
        padding: 7px 3px;
    }
    .quick-view-basket2 {
    gap: 5px;
    .quick-item-check {
        height: 30px;
        img {
            width: 30px;
        }
        .quick-price.float {
            font-size: 10px;
        }
    }
}


}



/* ---------- chat view design ------------- */

.chat-view-area {
    padding: 0;display: flex;
    justify-self: start;
    align-items: start;
    margin-left: 2px;
}
